.button_map {
  width: 100%;
  height: 100%;
  position: fixed;
}
#filters {
  position: absolute;
  width: 100%;
  z-index: 9997;
  font-size: 140%;
}
#selectors {
  font-size: 200%;
  z-index: 9998;
}
#jump {
  pointer-events: none;
  font-size: .8em;
  overflow: visible;
  height: 50px;
  position: absolute;
  left: 0;
  opacity: 0.5;
  background: ghostwhite;
}
#current_position {
  font-size: .8em;
  overflow: visible;
  height: 50px;
  position: absolute;
  left: 500;
  background: ghostwhite;
}
/*input.btn[pointer-events='none'] {
  opacity: 0.5;
}
input.btn[pointer-events='auto'] {
  opacity: 1;
}*/
#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#restaurant_info {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: white;
}
#restaurant_info_close {
  display: none;
  font-size: 150%;
}
#restaurant_info_body {
  font-size: 170%;
}
#buttons img {
  height: 30px;
}
input.chk-btn {
  display: none;
}
input.chk-btn + label {
  border: 1px solid grey;
  background: ghostwhite;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}
input.chk-btn:not(:checked) + label:hover {
  box-shadow: 0px 1px 3px;
  
}
input.chk-btn + label:active,
input.chk-btn:checked + label {
  box-shadow: 0px 0px 3px inset;
  background: #8cc472;
}

/* chk-btn CSS from
http://stackoverflow.com/questions/30100978/how-to-make-a-check-button-hidden-checkbox-with-label-as-a-button-css-only
*/

/*
#\33\.0 + label {
  background-image: url(http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|F7F5E6);
  background-repeat: no-repeat;
  background-position: right
}
#\33\.1 + label {
  background-image: url(http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|FFDB5C);
  background-repeat: no-repeat;
}
#\33\.3 + label {
  background-image: url(http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|F9A603);
  background-repeat: no-repeat;
}
#\33\.5 + label {
  background-image: url(http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|F25C00);
  background-repeat: no-repeat;
}
*/

/*
select#multiSelectByGenre {
  position: fixed;
  margin-top: 0px;
}
select#multiSelectByRegion {
  position: fixed;
  margin-top: 0px;
}

#buttons {
  position: fixed;
  margin-top: 0px;
}
*/

/*
#progress-box {
  width: 100%;
  height: 60px;
  background: #c5c5c5;
  position: absolute;
  left: 0;
  bottom: 0;
}
#progress-bar {
  width: 0;
  height: 60px;
  background: #00cab9;
  position: absolute;
  left: 0;
  top: 0;
}
#progress-box {
  width:1%;
  height:30px;
  background: #00cab9;
}
*/


